spring:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

  datasource:
    url: jdbc:h2:mem:analog;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace

security:
  jwt:
    issuer: analog
    secret: "비밀키 입력"
    access-token-exp-seconds: 900
    refresh-token-exp-seconds: 1209600

auth:
  cookie:
    refresh:
      secure: false
      hmac-secret: "비밀키 입력"